In [14]:
import pandas as pd

# header = None means that there are no headers in the csv file
# therefore we need to define the column names, but csv defines those
data = pd.read_csv('./data/auto-mpg.csv')


# data.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','year','origin', 'name']


# mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name

# data = data.drop(['Value'],axis=1)
print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
data.head()

Number of instances = 398
Number of attributes = 9

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [15]:
import numpy as np

data = data.replace('?',np.NaN)

print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))

print('Number of missing values:')
for col in data.columns:
    print('\t%s: %d' % (col,data[col].isna().sum()))

Number of instances = 398
Number of attributes = 9
Number of missing values:
	mpg: 0
	cylinders: 0
	displacement: 0
	horsepower: 6
	weight: 0
	acceleration: 0
	year: 0
	origin: 0
	name: 0